/*
CSS RESET
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License:  none (public domain)
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h3 
{
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 32px;
	font-family: Tahoma;
}

h1
{
	display: none;
}

.img-exit
{
	position: fixed;
	top: 10px;
	right: 10px;
	width: 3px; 
	height: 3px;
	
	cursor: pointer;
}

.img-location
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 150px; 
	height: 150px;
}

.wrapper 
{
	position: absolute;
	top: 170%;
	left: 50%;
}

.connect 
{
    width: 305px;
    font-size: 18px;
	margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(0,0,0,.9);
	font-family: Tahoma;
	color: #FFFFFF;
	font-weight: bold;
	margin-left: 35px;
	background: no-repeat;
}

.connect a 
{
    display: inline-block;
	margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: 200px;
    margin-top: 10px;
	margin-left: 45px;
	font-size: 15px;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
	color: #FFFFFF;
	font-family: Tahoma;
    text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0.2, 0.2 ,0.2 , 0.5);
}

.connect a.facebook 
{ 
	background: url(../icons/facebook-icon.png) no-repeat; 
}

/* Main CSS */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: sans-serif;
	background-color: #323B55;
}

#form-login {
	width: 220px;
	height: 155px;
	position: absolute;
	left: 50%;
	top: 23%;
	margin-left: -110px;
	margin-top: -75px;
}

#form-login label {
	display: none;
}

#form-login input[type="text"],#form-login input[type="password"] {
	width: 100%;
	height: 40px;
	positon: relative;
	margin-top: 7px;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 0px solid rgba(0, 0, 0, .69);

	padding-left: 20px;
	border-radius: 7px;
}

#form-login input[type="submit"] {
	width: 100%;
	height: 50px;
	margin-top: 7px;
	color: #FFFFFF;
	font-size: 19px;
	font-weight: bold;
	text-shadow: 0px 0px 0px #a5cd4e;
	outline: none;
	border: 0px solid rgba(0, 0, 0, .69);
	font-family: Tahoma;

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 7px;

	/* #a5cd4e*/
	background: #8ac628;
	
	cursor: pointer;
}

#form-login input[type="submit"]:hover {
	background: #a5cd44;
}

#form-login input[type="submit"]:active {
	
}